/* Dashboard Widget */
#quickstartbuttons-widget {
  width: auto;
  overflow: hidden;
  margin: -10px;
}

#quickstartbuttons-widget > p {
  margin: 10px 0px 0px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #E7E7E7;
  border-top: 1px solid #E7E7E7;
  color: #5A5A5A;
  line-height: 1.5;
  padding: 15px;
  font-size: 13px;
}

#quickstartbuttons-widget ul {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

#quickstartbuttons-widget ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#quickstartbuttons-widget ul li {
  display: block;
  float: left;
  position: relative;
  width: 33.333%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

#quickstartbuttons-widget ul.one-item-per-row {
  margin: 0;
}

#quickstartbuttons-widget ul.one-item-per-row li {
  width: 100%;
}

#quickstartbuttons-widget ul.two-items-per-row li {
  width: 50%;
}

#quickstartbuttons-widget ul.three-items-per-row li {
  width: 33.333%;
}

#quickstartbuttons-widget ul.four-items-per-row li {
  width: 25%;
}

#quickstartbuttons-widget ul.five-items-per-row li {
  width: 20%;
}

#quickstartbuttons-widget ul li a {
  display: block;
  height: 65px;
  width: 100%;
  position: relative;
  padding: 0px 15px 0px 52px;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /* MODX 2.2.x Manager Button Styles */
  font: bold 11px tahoma, verdana, helvetica, sans-serif;
  color: #53595f;
  background: url(../images/modx-theme/form/button-bg.svg) repeat-x scroll 0 bottom #dedede;
  background: -webkit-linear-gradient(center bottom, #dedede 0%, #ffffff 100%);
  background: linear-gradient(center bottom, #dedede 0%, #ffffff 100%);
  border-radius: 3px;
  border: 1px solid gray;
  border-color: #CACACA #C0C0C0 #AAA;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1px;
}

#quickstartbuttons-widget ul li a:hover {
  background: -webkit-linear-gradient(center bottom, #cecece 0%, #ffffff 100%);
  background: linear-gradient(center bottom, #cecece 0%, #ffffff 100%);
}

#quickstartbuttons-widget ul li div {
  display: table-cell;
  height: 64px;
  width: 100%;
  vertical-align: middle;
}

#quickstartbuttons-widget ul li a span {
  display: block;
  line-height: 1.4;
  font-size: 12px;
}

#quickstartbuttons-widget ul li a span em {
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
}

#quickstartbuttons-widget ul li a .icon {
  display: block;
  position: absolute;
  left: 1px;
  top: 0;
  width: 52px;
  height: 100%;
  text-align: center;
  line-height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 24px;
}

/* Manager window */
i.fa.fa-larger {
  font-size: 1.2em;
}

/* Vertical window tabs */
.window-vtabs .x-panel-ml {
  padding: 0 !important;
}

.window-vtabs .x-panel-mc {
  padding: 0 !important;
}

.window-vtabs .vertical-tabs-panel {
  width: 100% !important;
}

.window-vtabs .x-panel-mc .x-panel-tbar .x-toolbar {
  background-color: transparent;
}

.window-vtabs .x-panel.panel-desc {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  margin-top: 0;
  margin-bottom: 5px;
}

.window-vtabs .x-tab-panel-bwrap {
  box-shadow: none;
}

.window-vtabs .x-tab-panel-bwrap .x-tab-panel-body {
  overflow: hidden !important;
}

.window-vtabs.x-window-body {
  padding: 0;
}
